.Rhistory
.RData
Trabajo1/*.tex
.Rproj.user
*files/

Practica1/.Rhistory


## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.fdb_latexmk
*.synctex.gz
